
<!-- Comments -->
<div class="container">
  <div class="row">
    <div class="col-md-8" >
      <h1>Current Post</h1>
      <div class="form-group">
        <p class="body">
          <%= @post.body %>
        </p>
      </div>
      <div class="form-group">
  <h1 class="title">
    <%= @post.title %>
  </h1>

</div>
       <p>Last post submitted <%= time_ago_in_words(@post.created_at) %> ago </p>
     </div>
  </div>
</div>
