
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Garamond');

body {
  padding-top: 25px;
}

.article .sidebar {
  background: #ccc;
  padding: 1em;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
